.large-picture {
	position: relative;
}

.large-picture__img img {
	max-width: 100%;
}

.large-section__text-content {
	position: absolute;
    font-size: 29px;
    top: 50px;
    left: 0;
    width: 100%;
    color: white;
}

.large-section__text-content .content {
	max-width: 265px;
}
