/**** Task 1 ****/
@media print {
	.tm-sidebar,
	#about,
	.heading,
	.blocks,
	.ideas,
	.tm-content-box {
		display: none;
	}

	.container {
		max-width: 100%;
	}

	#home,
	.flex-2-col {
		display: block;
	}

	.tm-main-content {
		width: 100%;
	    margin: 0;
	    padding: 0;
	}

	#home {
		height: 260px;
		margin-bottom: 0;
	}

	.tm-team-description-container {
		padding-top: 0;
    	padding-bottom: 0;
    	max-width: 665px;
    	text-align: left;	
	}

	h2.tm-section-title {
		color: blue;
	}

	.flex-item:nth-child(2) {
		text-align: center;
	}
}

/**** Task 2 ****/
/*todo:*/

/**** Task 3 ****/
p:first-letter {
	color: #76cdd7;
	font-size: 30px;
}

/**** Task 4 ****/
.tm-main-nav,
.tm-content-box,
section.blocks .pad,
footer > p {
	box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.39);
}

section.blocks .flex-2-col {
	box-shadow: none;
}

/**** Task 5 ****/
/*todo:*/


/**** Task 6 ****/
#ideas .tm-section-title {
	color: gainsboro;
	letter-spacing: 5px;
}

/**** Task 7 ****/
h2 + p {
	font-style: italic;
}

/**** Task 8 ****/
.flex-2-col .tm-team-description-container p {
	text-indent: 15px;
    line-height: 2;
}

/**** Task 9 ****/
/*todo:*/

/**** Task 10 ****/
.blocks .gallery-container .box:nth-child(2n + 1) {
	background-color: #e6e6e6;
}

/**** Task 11 ****/
/*todo:*/

/**** Task 12 ****/
/*todo:*/







