.description__content {
	margin-right: -20px;
}

.description__content .row-6 {
	float: left;
	width: 50%;
	padding-right: 20px;
}

.description__titles {
	line-height: 2;
	font-size: 21px;
}

.description__text {
	font-size: 15px;
}
