* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.wrapper {
	overflow: hidden;
	max-width: 1110px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.page-section {
	padding: 125px 0;
}

.col-3 {
	
}
